<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>

    <!-- ADD BUTTON -->
    <ion-buttons class="btn-add" slot="end">
      <ion-button (click)="openAddModal()">
        <ion-icon slot="icon-only" [icon]="addCircleOutline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">



  <!-- ===== CARD PRODUIT ===== -->
  <ion-card class="cart-item" *ngFor="let p of products">

    <div class="item-header item-header-flex">
      <div>
        <h2 class="product-name">{{p.product.name}}</h2>
        <p class="product-sub">Achat: {{p.product.purchase_price}} dh · Vente conseillée: {{p.product.sale_price}} dh
        </p>
      </div>

      <!-- DELETE BUTTON -->
      <ion-button fill="clear" size="small" class="btn-delete" (click)="deleteItem(p.id)">
        <ion-icon [icon]="trash" style="font-size: 26px;"></ion-icon>
      </ion-button>
    </div>

    <ion-card-content class="row">

      <div class="controls-50">

        <!-- Prix -->
        <ion-item lines="none" class="price-item half">
          <ion-input type="number" label="Prix" labelPlacement="stacked" [value]="p.price"
            (ionInput)="onPriceChange(p,$event)">
          </ion-input>
        </ion-item>

        <!-- Quantité (- / +) -->
        <div class="qty half">
          <ion-button fill="clear" class="qty-btn" (click)="decreaseQty(p)">
            <ion-icon [icon]="down" style="font-size: 22px;"></ion-icon>
          </ion-button>

          <span class="qty-value">{{ p.quantity }}</span>

          <ion-button fill="clear" class="qty-btn" (click)="increaseQty(p)">
            <ion-icon [icon]="up" style="font-size: 22px;"></ion-icon>
          </ion-button>
        </div>

      </div>

    </ion-card-content>

    <div class="item-total">
      <div>
        <span>Total article :</span>
        <strong>{{ p.price * p.quantity }} dh</strong>
      </div>

      <div>
        <span [style.color]="(p.price - p.product.purchase_price) * p.quantity >= 0 ? 'green' : 'red'">
          Bénéfice :
          {{ (p.price - p.product.purchase_price) * p.quantity }} dh
        </span>
      </div>
    </div>


  </ion-card>
  <!-- ===== CARD INFOS (50/50) ===== -->
  <ion-card class="cart-item">
    <div class="item-header">
      <h2 class="section-title">Résumé de vente</h2>
      <p class="section-subtitle">Indicateurs rapides</p>
    </div>

    <ion-card-content class="row">

      <div class="info-grid">

        <!-- Capitale de vente -->
        <div class="info-card">
          <div class="info-top">
            <div class="info-icon">
              <ion-icon [icon]="cash"></ion-icon>
            </div>
            <div class="info-text">
              <p class="info-label">Capital d’achat</p>
              <h3 class="info-value">{{calculatePurchaseCapital()}} dh</h3>
            </div>
          </div>
          <p class="info-hint">Coût total des produits achetés</p>
        </div>

        <!-- Prix de vente idéal -->
        <div class="info-card">
          <div class="info-top">
            <div class="info-icon">
              <ion-icon [icon]="trendingUp"></ion-icon>
            </div>
            <div class="info-text">
              <p class="info-label">Prix de vente idéal</p>
              <h3 class="info-value">{{calculateSalesCapital()}} dh</h3>
            </div>
          </div>
          <p class="info-hint">Recommandé pour maximiser le bénéfice</p>
        </div>

      </div>

    </ion-card-content>
  </ion-card>
  <!-- ===== DATE ACHAT ===== -->
  <ion-card class="cart-item">
    <ion-item lines="none" class="date-row">


      <ion-datetime-button datetime="achatDate"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true" class="achat-modal">
        <ng-template>
          <ion-datetime id="achatDate" presentation="date-time" locale="fr-FR" hour-cycle="h23"   (ionChange)="onDateChange($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-card>

  <!-- ===== RÉSUMÉ ===== -->
  <ion-card class="summary">
    <ion-card-content>
      <div class="summary-row">
        <span>Total</span>
        <strong>{{ calculateTotal() }} dh</strong>

      </div>
      <div class="summary-row">
        <span>Bénéfice global</span>
        <strong [style.color]="calculateGlobalBenefit() >= 0 ? 'green' : 'red'">
          {{ calculateGlobalBenefit() }} dh
        </strong>
      </div>
      <ion-button expand="block" class="btn-primary" (click)="validateBasket()" [disabled]="isValidating">
        <ion-spinner *ngIf="isValidating" name="crescent" style="margin-right:8px"></ion-spinner>
        Valider le panier
      </ion-button>
        <!-- ANNULER -->
    <ion-button
      expand="block"
      fill="outline"
      color="danger"
      class="btn-cancel-basket"
      (click)="cancelBasket()">

      Annuler le panier
    </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
<ion-modal [isOpen]="isAddModalOpen" (didDismiss)="isAddModalOpen = false" [initialBreakpoint]="0.6"
  [breakpoints]="[0, 0.6, 0.9]">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Ajouter un produit</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="closeAddModal()">
            <ion-icon [icon]="closeOutline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button *ngFor="let prod of getProductsOutOfCurrentBasket()" (click)="addProductToCart(prod)">
          <ion-label>
            <h2>{{ prod.name }}</h2>
            <p>Achat: {{ prod.purchase_price }} dh · Vente: {{ prod.sale_price }} dh</p>
          </ion-label>
          <ion-icon slot="end" [icon]="addOutline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>

  </ng-template>
</ion-modal>