<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="products" href="/tabs/products">
      <ion-icon [icon]="productsIcon"></ion-icon>
      <ion-label>Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-baskets" href="/tabs/list-baskets">
      <ion-icon [icon]="salesIcon"></ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon [icon]="dashboardIcon"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon [icon]="settingsIcon"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
