<ion-header>
  <ion-toolbar>
    <ion-title>Produits</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addProduct()">
        <ion-icon [icon]="add" style="font-size: 26px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Rechercher un produit"
      (ionInput)="onSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Loading -->
  <div *ngIf="loading" style="padding: 10px;">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <!-- Empty -->
  <p *ngIf="!loading && products.length === 0" style="color:#64748b; font-weight:700;">
    Aucun produit trouvé.
  </p>

  <!-- ===== PRODUCT CARD ===== -->
  <ion-card
    class="product-card-modern"
    *ngFor="let p of products"
   
  >
    <ion-card-content class="product-content">

      <div class="product-text"  (click)="goToProductDettail()">
        <h2>{{ p.name }}</h2>
        <p>
          Stock {{ p.stock }}
          · Achat {{ p.purchase_price }} dh
          · Vente {{ p.sale_price }} dh
        </p>
      </div>

      <!-- Panier -->
      <ion-button
        fill="solid"
        size="small"
        class="panier-modern"
        [disabled]="p.inBasket"
        (click)="addToCart(p)"
      >
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
