<ion-header>
  <ion-toolbar>
    <ion-title>Historique des ventes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding sales-bg">

<ion-card class="sale-card" *ngFor="let s of sales">
  <div class="sale-row">

    <!-- LEFT -->
    <div class="sale-left">
      <div class="sale-line">
        <ion-icon name="cube-outline" class="sale-icon icon-products"></ion-icon>
        <strong>{{ calculateTotalQuantity(s.basket_items) }} produits</strong>
      </div>

      <div class="sale-line sub">
        <ion-icon [icon]="timeOutline" class="sale-icon icon-time"></ion-icon>
        <span>{{ formatDateTimeShort(s.validated_at) }}</span>
      </div>

      <div class="sale-line sub">
        <ion-icon [icon]="personOutline" class="sale-icon icon-user"></ion-icon>
        <span>Vendu par {{ s.seller?.full_name || '—' }}</span>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="sale-right">
      <span class="sale-total">
        {{ calculateBasketTotal(s.basket_items) }} dh
      </span>
      <ion-icon [icon]="chevronForwardOutline" class="sale-chevron icon-nav"></ion-icon>
    </div>

  </div>
</ion-card>



  <!-- Empty state -->
  <ion-card class="settings-card" *ngIf="!isLoading && sales.length === 0">
    <div class="settings-row">
      <div class="settings-left">
        <h3 class="settings-title">Aucune vente</h3>
        <p class="settings-subtitle">Aucun panier validé pour le moment</p>
      </div>
    </div>
  </ion-card>

</ion-content>
